@font-face {
  font-family: "Montserrat_regular";
  src: url("../font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat_medium";
  src: url("../font/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat_italic";
  src: url("../font//Montserrat-Italic.ttf");
}
@font-face {
  font-family: "Montserrat_bold";
  src: url("../font/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat_semibold";
  src: url("../font/Montserrat-SemiBold.ttf");
}
