@import './reset.scss';
@import './variables.scss';
@import './home.scss';
@import './header.scss';
@import './footer.scss';
@import './main.scss';
@import './icons.scss';
@import './font.scss';
body {
  margin: 0;
  font-family: $ffregular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
._header--container{
  margin: 0 230px 0 130px;
}
._container{
  margin: 0 130px;
}
